<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>模板引擎添加界面</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- <style type="text/css">
		#submit1{
			margin-top: 10px;
		}
	</style> -->
</head>
<body>
	<div class="container">
		<form action="/tpl_show" method="POST">
			<h1>数据源 <small>请输入</small></h1>
			<textarea name="original_text" id="text1" rows="25" class="form-control"></textarea>
			<button type="submit" class="btn btn-primary btn-block" id="submit1">提交</button>
		</form>
	</div>
</body>
</html>