<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>模板引擎</title>
	<script type="text/javascript" src="../public/resource/template-web.js"></script>
</head>
<body>
	<script type="text/html" id="template">
	SELECT * FROM byw_yw_rel b</br>
	where 
	(
	{{each product}}
	<div>
		b.yw_name like '%{{$value}}%'  or
	</div>
	{{/each}}
	);
</script>
<script type="text/javascript">
	var data = [
	'保洁活动','保洁活动','365+'
	];
	var html = template('template',{"product": data});
	var html2 = html.substr(0,html.length-17) + html.substr(html.length-15);
	console.log(html2);
	document.body.innerHTML = (html2);
</script>
</body>
</html>